.row {
    margin: 20px 0;
}

.row h2 {
    margin-left: 20px;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_poster {
    width: 200px;
    margin-right: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.row_poster:hover {
    transform: scale(1.1);
}

